.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
body {
  background-image: url(https://static1.squarespace.com/static/541b4499e4b09b50ed990ebc/t/56ba391dc2ea5139cdd56f63/1415653850416/?format=2500w);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #3E363F;
  font-family: "Lato", sans-serif;
  height: 100vh;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav-button {
 font-size: 18px;
 background: #E9967A;
 border-radius: 1px;
 display: inline-block;
 height: 75px;
 margin: 1.5rem;
 position: relative;
 width: 300px;
}

.nav-button:hover {
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.navbar {
        background-color: LightSlateGray;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
}

